.container{
    text-align: center;
    padding: 30px 0;
}

.score-container{
    font-weight: 900;
}

.result-container{
    height: 30px;
    font-weight: 900;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 300px;
    border: solid 4px black;
    margin: 25px auto;
}

.grid div{
    width: 20px;
    height: 20px;
}

.start-restart{
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 25px;
}

.invader{
    background-color: brown;
    border-radius: 10px;
}

.shooter{
    background-color: blueviolet;
}

.laser{
    background-color: chartreuse;
}

.boom{
    background-color: red;
}
